 /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

h3 {
	font-family: 'Work Sans';
	font-size: 26px;
}

h4 {
	font-family: 'Work Sans';
	font-size: 14px;
	text-decoration: underline;
	text-align: center;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
	padding-bottom: 40px;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}


#portfolio h2 {
	text-align: center;

}

.outer {
	display: flex;
	justify-content: center;
	gap: 20px;
	padding-top: 40px;
	padding-bottom: 100px;
}

.Div2 a {
	display: flex;
	flex-direction: row;
	gap: 10px;
	margin-top: 10px;
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 4em auto;
}

button {
border-radius: 60px;
font-family: 'Syne';
font-weight: 700;
font-size: 20px;
padding: 10px;
background-color: white;
color: #1D6154;
border: 1px solid #1D6154;
}

#contact {
	width: 50%;
 	margin: auto;
	padding-top: 100px;
}
#contact > * {
	text-align: center;
}

#contact h2{
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

h3 {
	text-align: center;
}

.footerLogin {
	position: fixed;
    bottom: 0;
	right: 0;
    width: 100%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper1 {
	display: flex;
	flex-direction: column;
	background: #fff;
	width: 630px;
	height: 688px;
	padding: 20px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	overflow: auto;
	border-radius: 10px;
}

.headermodal1 {
	position: relative;
	width: 100%;
	height: 10%;
}

.headermodal1 button {
	position: absolute;
	right: 0;
	border: none;
}

.modalcontent1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 15%;
	padding-right: 15%;
	height: 100%;
}

.btnAddPicture {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: white;
	background-color: #1D6154;
	width: 250px;
	text-align: center;
	border-radius: 60px;
	margin-top: 10px;
}


.gallery2 {
	margin-top: 60px;
	height: 70%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.underlineGallery {
	width: 100%;
	border: 1px solid #B3B3B3;
	margin-bottom: 30px ;
	
}


.gallery2 img {
	width: 100%;
}

.workGallery {
	position: relative;
}

.workGallery i {
	position: absolute;
	right: 5px;
	top: 5px;
	color: white;
	background-color: black;
	padding: 5px;
	border-radius: 4px;
}

.modal-wrapper2 {
	display: flex;
	flex-direction: column;
	background: #fff;
	width: 630px;
	height: 688px;
	padding: 20px;
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	overflow: auto;
	border-radius: 10px;
}

.headermodal2 {
	position: relative;
	width: 100%;
	height: 10%;
}

.headermodal2 button {
	position: absolute;
	right: 0;
	padding: 0;
	font-size: 25px;
	border: none;
}

.headermodal2 a {
	position: absolute;
	left: 0;
	font-size: 25px;
}

.modalcontent2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 15%;
	padding-right: 15%;
	height: 100%;
}

#formAddPicture {
	display: flex;
	flex-direction: column;
	height: 90%;
}

.addPhoto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 420px;
	background: rgb(221, 239, 245);
	height: 35%;
	margin-top: 30px;
	border-radius: 4px;
}

.addPhoto label{
	position: relative;
	border: 1px solid black;
	border-radius: 20px;
	padding: 10px 30px;
	color: rgb(64, 119, 222);
	background: #E8F1F6;
	;
}

.addPhoto input{
	position: absolute;
}

.addPhoto p {
font-size: 10px;
}

.inputs {
	display: flex;
	flex-direction: column;
	height: 40%;
}

.inputs input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.inputs label {
	margin: 2em 0 1em 0;
}
.inputs textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.inputs select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border-right: 10px solid #fff;
}

.picturePreview {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 420px;
	background: rgb(221, 239, 245);
	height: 40%;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 4px;
}

.picturePreview img{
	width: 31%;
	height: 100%;
	object-fit: fill;
}


